{% extends "index.html" %}

{% block header %}
<h1>Currency Calculator</h1>
{% endblock %}

{% block main %}
<div class="container-fluid">
<!-- 	<div class="row">
		<ul>
			{% for curr in currencyDB %}
			<li>{{curr.base}}, {{curr.date}}, {{curr.rate}}</li>
			<li>End of the list</li>
			{% endfor %}
		</ul>
	</div> -->
	<div class="row">
		<div class="col-md-12">
			<form name="convert-currency" method="post" action="/currency">
				<label>Base Currency</label>
				<input type="text" name="fromCurrency" ng-model="fromCurrency">
				<label>Current Currency</label>
				<input type="text" name="toCurrency" ng-model="toCurrency">
				<label>Amount</label>
				<input type="text" name="amount" ng-model="amount" id="amount">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>Base: {{fromCurrency}}</p>
			<p>Currency: {{toCurrency}}</p>
			<p>Amount: {{amnt}}</p>
			<p>Rate: {{rate}}</p>
			<p>Converted Amount: <span id="value"></span></p>
		</div>
	</div>
</div>
{% endblock %}