<!DOCTYPE html>
<html ng-app>
<head>
	<title>Currency Calculator</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
	<nav>
		
	</nav>
	<header>
		{% block header %}{% endblock %}
	</header>
	<main>
		{% block main %}{% endblock %}
	</main>
<!-- <script>
	function myFunction(){
		var amnt = (getElementById("amntIn"));
		document.getElementById("value").innerHTML = getElementById("amntIn");
		var rate = parseInt(getElementById("rateIn"));
		var val = amnt * rate;
		var x = val.toString();
		document.getElementById("value").innerHTML = x;
		or window.alert();
	}
</script> -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</body>
</html>