/* Index */
html body{ font-family: 'Nunito', sans-serif }

nav .nav-wrapper{ background-color: #00bf8f }
nav ul li a{ font-size: 16px }

/* Landing */
.landing-header {
	text-align: center;
	padding: 10em 0;
}
.landing-header .landing-button a .get-started-btn, .landing-header .landing-button a .sign-up-btn, .landing-header .landing-button a .login-btn {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00bf8f;
	border: 1px solid #00bf8f;
	padding: 1em;
	color: #FFFFFF;
	font-size: 18px;
}
.landing-header .landing-button a .get-started-btn:hover, .landing-header .landing-button a .sign-up-btn:hover, .landing-header .landing-button a .login-btn:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	border: 1px solid #00bf8f;
	color: #000;
}
.landing-header .landing-button a .sign-up-btn {
	float: right;
}
.landing-header .landing-button a .login-btn {
	float: left;
}
.landing-calculator {
	background: #00bf8f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #00bf8f , #001510);
	background: linear-gradient(to left, #00bf8f , #001510);
	padding: 10em 0;
	color: #FFFFFF;
}

/* Footer */
footer {
	background-color: #000;
	color: #FFFFFF;
	text-align: center;
	padding: 3em 0;
}

/* Media Queries */
@media (max-width: 64em){
	.landing-header .landing-button a .get-started-btn, .landing-header .landing-button a .sign-up-btn, .landing-header .landing-button a .login-btn { width: 50%; }
	.landing-header .landing-button a .sign-up-btn, .landing-header .landing-button a .login-btn { float: none; }
	.landing-header .landing-button a .login-btn { margin-top: 1em; }
}

@media (max-width: 37.5em){
	.landing-header { padding: 5em 0 }
	.landing-header .landing-button a .get-started-btn, .landing-header .landing-button a .sign-up-btn, .landing-header .landing-button a .login-btn { width: 100%; }
}